<app-nav-bar></app-nav-bar>

<div class="TeloStrane"></div>

<div class="Icone">
    <a href="https://www.facebook.com/bojan.savic.3591"><i class="fab fa-facebook"></i></a>
    <a href="https://www.instagram.com/savke_ren/?hl=sr"><i class="fab fa-instagram"></i></a>
    <a href="https://www.youtube.com/channel/UCuE61AJsL3dfJfBK9oy4W_A?view_as=subscriber"><i class="fab fa-youtube"></i></a>
    <a [routerLink]="['/SendMail']"> <i class="fas fa-envelope"></i></a>
    <a href="https://bojansavic.000webhostapp.com"><i class="fas fa-link"></i></a>
</div>

<div class="Text">
    <h3>We care about people who care about songs! <i class="fas fa-heartbeat"></i></h3>
</div>

<section>
    <div class="talas"></div>
</section>