<app-nav-bar></app-nav-bar>

<div class="Sadrzaj">
    <div class="Slika1">
        <img src="../../assets/Slike/SlikaPocetnaLevo.png" alt="">
    </div>
    <div class="Slika2">
        <img src="../../assets/Slike/SlikaPocetnaDesno.png" alt="">
    </div>
</div>


<!-- Video pozadina -->
<div class="Video-Wrap">
    <video id="VideoBackCont" preload="auto" autoplay="true" loop="loop" muted="muted">
        <source src="../../assets/Video/VideoPozadinaZaPocetnuStranu.mp4" type="video/mp4">
    </video>
</div>